extends ../layout

block content
    div.p-4
        h1.text-center Edit Article
        form(action="/articles/edit/"+article._id, method="post")
            div.form-group.mt-5
            label(for="title") Title
            input(type="text" name="title" class="form-control" id="title" placeholder="Enter title", value=article.title)
            div.form-group.mt-3
            label(for="text") Description
            textarea(name="text" class="form-control" id="text" rows="3" placeholder="Enter description")=article.text
            button(type="submit" class="btn btn-primary pt-2 mt-3 mr-1") Submit
            a(href="/articles", class="btn btn-secondary pt-2 mt-3 customCancel") Cancel